* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.section_padding {
  padding: 4rem 6rem;
}

.section_margin {
  margin: 4rem 6rem;
}

/* webpage viewing for tablet-sized screens*/
@media screen and (max-width: 700px){
  .section_padding {
    padding: 4rem;
  }
  .section_margin {
    margin: 4rem;
  }
}

/* webpage viewing for phone-sized screens*/
@media screen and (max-width: 550px){
  .section_padding {
    padding: 4rem 2rem;
  }
  .section_margin{
    margin: 4rem 2rem;
  }
}
